<div class=bg-warning> {{x}} </div>
<a class="btn-bg-success"(click)="fnclick()">GO!</a>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="https://source.unsplash.com/random/700x200" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/random/584x200" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/random/4780x200" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>